*.a
*.log
*.o
*.swp
*_driver
*~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build/
cgdb/cgdb
config.*
config/compile
config/mdate-sh
config/missing
config/texinfo.tex
configure
configure.in
depcomp
doc/cgdb.1
doc/cgdb.info
doc/cgdb.txt
doc/stamp-vti
doc/version.texi
install-sh
install/
lib/gdbmi/gdbmi_lexer.c
lib/gdbmi/missing
missing
release/
stamp-h1
tags
ylwrap
